@charset "UTF-8";
/*TODOS AS FORMATAÇÔES DO ARQUIVO SPECS.HTML*/
section#conteudo{
	width: 1000px;
	margin: auto;
}
iframe#frame-spec {
	width: 400px;
	height: 280px;
	border: none;
	overflow: hidden; /*<- Impede a visualização do conteudo*/
}
iframe#frame-spec::-webkit-scrollbar {
	display: none;
}